<div class="container">
    <h4>投稿一覧</h4>
    <% @articles.each do |article| %> 
        <div class="article">
          <% if article.text.length > 185 %>
          <p><%= article.text.truncate(185) %></p> 
          <div class="more"><%= link_to '続きを見る', '', class: "read-more-#{article.text}" %></div>
          <script type="text/javascript">
            $('.read-more-<%= article.text %>').on('click', function(e) {
              e.preventDefault()
              $(this).parent().html('<%= escape_javascript article.text %>')
            })
          </script>
          <% else %>
            <p><%= article.text %></p>
          <% end %>
        </div>
      <% end %>
    <%= paginate(@articles) %>
</div>
    