<div class="container">
  <h4>投稿詳細ページ</h4>
  <div class="article">
    <p class="detail"><%= @article.text %></p>
  </div>
  
  <% if user_signed_in? %>
  <div class="comments-form">
  <id class="btn">コメントする</id>
    
    <div class="form-area">
      <% if current_user %>
        <%= form_tag("/top/#{@article.id}/comments", method: :post) do %>
          <div class="comments-text"><textarea name="text" placeholder="コメントする"></textarea></div>
          <button class="btn" type="submit" value="SENT" style="margin-top:15px">投稿する</button>
        <% end %>
      <% end %>
    </div>
    <script>
    $(document).ready(function(){
      $('.btn').click(function () {
      $('form-area').show();
      });
    });
    </script>
  </div>
  <% end %>

  <div class="comments">   
      <% if @comments %>
        <% @comments.each do |comment| %>
        <p>
        <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
        </p>
          <% if comment.user_id == current_user.id %>
            <strong><%= link_to "コメント削除", "/top/#{@article.id}/comments/#{comment.id}", method: :delete %></strong>
          <% end %>
        <% end %>
      <% end %>
    </div>
</div>