<div class="container">
  <h4>投稿詳細ページ</h4>
  <div class="article">
      <strong><%= link_to @article.user.nickname %></strong>
      <% if @article.user.image.attached? %>
        <div class="user-image"><%= image_tag @article.user.image %></div>
      <% else %>
        <div class="user-image"><%= image_tag 'Noimage_image.png' %></div>
      <% end %>
     <p class="detail"><%= @article.text %></p>
    <% if user_signed_in? %>
    <div class="btn" id="btn">コメントする</div>
    <% end %>
    <script>
    $(function() {
        $('#btn').on('click', function() {
          if($('.formarea').css('display')=='none'){
              $('.formarea').slideDown();
          } else {
              $('.formarea').slideUp();
           }
          });
        });
    </script>
  </div>
  
  <% if user_signed_in? %>
  <div class="comments-form">
    <div class="formarea">
        <% if current_user %>
          <%= form_tag("/top/#{@article.id}/comments", method: :post, class: "textform", remote: true) do %>
            <div class="comments-text"><textarea class="text-form" name="text" placeholder="コメントする"></textarea></div>
            <button class="btn" type="submit" value="SENT" style="margin-top:15px">投稿する</button>
          <% end %>
        <% end %>
      </div>
   </div>

  <div class="comments-view">
    <h4>コメント一覧</h4>
    <% if @comments %>
     <div class="comments-personal">
      <% @comments.each do |comment| %>
       
          <%= render partial: "comments/comment", locals: { comment: comment } %>
       
      <% end %>
       </div>
    <% end %>
  </div>
  <% end %>
</div>