<div class="container">
  <h4><%= @nickname %>さんの投稿一覧</h4>
    <% @articles.each do |article| %>
        <div class="article">
            <p><%= article.text %></p>
            <% if user_signed_in? && current_user.id == article.user_id %>
              <div class="btn"><%= link_to '削除', "/top/#{article.id}", method: :delete %></div>
              <div class="btn"><%= link_to '編集', "/top/#{article.id}/edit", method: :get %></div>
            <% end %>
        </div>
    <% end %>
  <%= paginate(@articles) %>
</div>