<!DOCTYPE html>
<html>
  <head>
    <title>Positive News</title>
    <meta http-equiv="content-type" charset="utf-8">
    <style type="text/css" href="./style.css"></style>
    
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
<!-- Dropdown Structure -->
    <nav class="#00bfa5 teal accent-4">
      <div class="nav-wrapper">
        <a class="brand-logo" href="/top" >Positive News</a>
        <ul class="right hide-on-med-and-down">
          <% if user_signed_in? %>
          <!-- Dropdown Trigger -->
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">メニュー<i class="material-icons right">arrow_drop_down</i></a></li>
              <ul id="dropdown1" class="dropdown-content">
                <li><a href='/top/new'>投稿する</a></li>
                <li class="divider"></li>
                <li><%= link_to "マイページ",user_path(current_user) %></li>
                <li class="divider"></li>
                <li><%= link_to "登録情報編集", edit_user_registration_path, method: :get %></li>
                <li class="divider"></li>
                <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><a><%= link_to "ログイン", new_user_session_path, method: :get %></a></li>
              <li><a><%= link_to "新規登録", new_user_registration_path, method: :get %></a></li> 
            <% end %>
              </ul>
      </div>
    </nav>
    
    <%= yield %>
    
    <!-- Import jQuery before materialize.js -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
      $(document).ready(function(){
        $(".dropdown-button").dropdown({
        constrain_width:false,
        hover:true,
        belowOrigin:true
        });
      });
    </script>
    
    <% flash.each do |type, msg| %>
      <% type = 'info' if type == 'notice' %>
      <% type = 'error' if type == 'alert' %>
      <script>
        toastr['<%= type %>']('<%= msg %>');
      </script>
    <% end %>
    
  </body>
</html>